/* header */
nav,
.search,
#menu-checkbox,
#search-bar {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

#search-bar:checked ~ .search {
    display: block;
    position: absolute;
    top: 110%;
    width: 100%;
}

.search {
    position: relative;
    max-width: 200px;
    padding: 5px;
    margin: 0 10px;
    border-radius: 10px;
    flex: 1;
}
.search:focus {
    transition: 1s;
    max-width: 90%;
}

header {
    height: 90px;
    padding: 0 16px;
    display: flex;
    position: relative;
    background: linear-gradient(#1A1F3C 76px , #FFF 14px);
    align-items: center;
    justify-content: space-around;
}

header i {
    flex: 1;
    font-size: 24px;
    padding: 10px;
    color: #FFF;
}

nav ul li {
    display: block;
    padding: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 0 10px 0 0;
}
nav a {
    display: block;
}
nav {
    position: absolute;
    background: #1A1F3C;
    top: 100%;
    left: 0;
    z-index: 4;
}
.hamburger-icon , .search-icon {
    order: -1;
}

nav ul {
    display: inline-block;
    padding: 0 20px;
}

/* footer */
footer {
    background-color: #000;
    display: flex;
    flex-direction: column-reverse;
    padding: 16px;
}
.buyers,
.sellers {
    display: none;
}
footer li {
    display: block;
}

/* general */
.boxed {
    background-color: #00000071;
    background-blend-mode: overlay;
    border-radius: 50px;
    padding: 20px;
}
body {
    color: #FFF;
    background-color: #1F1F1F;
    font-family: "nunito sans",sans-serif;
    font-size: 14px;
    margin: 0;
}

h1 {
    font-weight: 900;
    font-size: 32px;
    margin: 0;
}
h2 {
    font-weight: 600;
    font-size: 20px;
}
.price {
    font-family: "roboto",sans-serif;
    color: #FFF;
    font-size: 30px;
}
.old-price {
    font-family: "roboto",sans-serif;
    color: #FFF;
    font-size: 20px;
    text-decoration: line-through;
}
.button {
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    background-color: #1A1F3C;
    padding: 10px;
    margin: 10px 0;
    border: solid;
    border-radius: 10px; 
    width: max-content;  
}
.button:hover {
    color: #1A1F3C;
    background-color: #FFF;
}
main {
    margin: 16px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 16px;
}
.background-tag {
    background: #1A1F3C;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.recommended-games {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.recommended-games a {
    color: #FFF;
}
.social-media i {
    font-size: 32px;
}
/* forms */
form {
    display: flex;
    flex-direction: column;
}
form div {
    display: flex;
    justify-content: space-between;
}
form input,
form select,
form textarea {
    margin: 10px 0;
    padding: 5px;
}

/* home */
.carousel-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    display: block;
}
.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}
[id^="game"] {
    display: none;
}
.game-1 {
    background: url(../images/new_releases_space_war.jpg);
    z-index: 2;
    opacity: 1;
    background-size:cover;
    background-position: center;
    
}
.game-2 {
    background: url(../images/new_releases_racing.jpg);
    background-size: cover;
    background-position: center;
}
.game-3 {
    background: url(../images/new_releases_super_duper.jpg);
    background-size: cover;
    background-position: center;
}
*:target ~ .game-1 {
    opacity: 0;
}
#game-1:target ~ .game-1 {
    opacity: 1;
}
#game-2:target ~ .game-2 , #game-3:target ~ .game-3 {
    z-index: 3;
    opacity: 1;
}
.carousel-item p {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: #1A1F3C;  
}
.carousel-navbar {
    display: flex;
    justify-content: center;
}
.circle {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: solid white 2px;
    margin: 10px;
}


.game-info {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    bottom: 20%;
    width: 50%;
    background: #1A1F3C;
}
.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category a {
    min-width: 150px;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    color: #FFF;
    background: #1A1F3C;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
}

.sales__image {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
/* about */

.about .boxed {
    flex: 1;
    padding: 20px;
    min-height: 400px;
}

.img__gamers {
    background-image: url(../images/pexels-yan-krukau-9072247\ \(1\).jpg);
    background-size: cover;
}

.img__vr {
    background-image: url(../images/pexels-oleksandr-pidvalnyi-6853428.jpg);
    background-size: cover;
}

.img__controler {
    background-image: url(../images/pexels-mikhail-nilov-7887382.jpg);
    background-size: cover;
}

/* checkout */

.delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-information img {
    width: 20%;
}

.checkout-product {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 30px 30px;
    grid-template-areas: 
    "game-cover title title"
    "game-cover items price"
    "game-cover discount new-price";
}

.checkout__image {
    grid-area: game-cover;
    max-width: 100%;
    max-height: 100%;
}

.checkout-product h2 {
    grid-area: title;
    align-self: center;
}
.trash {
    grid-area: items;
    align-self: center;
}
.trash input {
    width: 20%;
}
.checkout-product .price {
    grid-area: price;
    font-size: 30px;
    align-self: center;
}
.checkout-product .old-price {
    grid-area: new-price;
    align-self: center;
}
.checkout-product .discount{
    grid-area: discount;
    align-self: center;
}
#cvc {
    width: 10%;
}

/* product details */
.description {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tags {
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}

.product_images img {
    object-fit: contain;
    max-width: 100%;
}
.gameplay_images img {
    width: 65px;
    height: 65px;
    margin: 10px;
}


.stars {
    justify-content: flex-start;
}
textarea {
    resize: none;
}
/* browse games */

.filter {
    place-self: center;
}
.browse fieldset,
#console-checkbox,
#category-checkbox {
    display: none;
    position: absolute;
    background: #000;
}

#console-checkbox:checked ~ fieldset.choose-console,
#category-checkbox:checked ~ fieldset.choose-category {
    display: grid;
}
.console-icon,
.category-icon {
    color: #000;
    background: #FFF;
    padding: 5px;
    margin: 16px;
    border-radius: 16px;
}
fieldset {
    display: grid;
    grid-template-columns: 2em auto;
    grid-template-rows: auto;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.game-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 8px;
    text-decoration: none;
    color: #FFF;
}
.game-container h3 {
    position: absolute;
    background:#1A1F3C;
    width: 200px;
    text-align: center;
    margin: 0;
    padding: 16px 0;
    display: none;
}
.game-container:hover h3 {
    display: block;
}
.game-container .price,
.game-container .old-price {
    margin: 10px 0;
}
.game-container_image img {
    width: 100%;
    height: 100%;
    background-size: contain;
}
.game-container_background {
    display: flex;
    flex-direction: column;
    background: #1A1F3C;
    padding: 10px;
}

.game-container_console img {
    height: 14px;
    width: fit-content;
}
.game-container_discount {
    display: flex;
    justify-content: space-between;
}

/* sign in */

#hide {
    display: none;
}
.delivery-information {
    max-width: 400px;
}
.create-account {
    display: none;
}
#hide:checked ~ .sign-in .existing-account {
    display: none;
} 
#hide:checked ~ .sign-in .create-account {
    display: flex;
}

/* contact */
.costumer-support {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.support-icon {
    font-size: 36px;
}
#support-checkbox {
    display: none;
}
#support {
    display: none;
    position: absolute;
    bottom: 100px;
}
#support-checkbox:checked ~ #support{
    display: block;
}
/* checkout success*/
.share {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fa-check {
    font-size: 200px;
    align-self: center;
}

@media (min-width: 800px) {
    main {
        max-width: 1200px;
        margin: 16px auto;
        grid-template-columns: repeat(3, 1fr);
    }
    .page-header {
        grid-column: 1 / 4;
    }
    /* header */
    nav {
        display: flex;
        position: static;
        background: none;
        flex: 1;
        justify-content: end;
    }
    .search {
        display: block;
    }
    .search-icon {
        display: none;
    }
    .hamburger-icon {
        display: none;
    }
    nav ul li {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 0px 0px;
    }
    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .sellers , .buyers {
        display: block;
    }

    /* home */
    .new-releases {
        grid-column: 1 / 3;
    }
    .sales {
        grid-column: 3 / 4;
    }
    .browse-by-category {
        grid-column: 1 / 4;
    }

    /* about */
    .about {
        flex-direction: row;
        min-height: 600px;
    }

    /* checkout */
    .checkout {
        grid-column: 2 / 4;
        grid-row: 2;
    }
    .delivery {
        grid-column: 1;
        grid-row: 2 / 4;
    }
    .checkout-page .recommended {
        grid-column: 2 / 4;
        grid-row: 3;
    }

    /* product details */
    
    .product_images {
        grid-columns: 1;
        grid-row: 1 / 3;
    }
    .description {
        grid-column: 2;
        grid-row: 1 / 3;
    }
    .additional-information {
        grid-column: 3;
        grid-row: 1;
    }
    .review {
        grid-column: 3;
        grid-row: 2;
    }
    

    /* browse games */
    .filter {
        grid-column: 1;
        place-self: auto;
        justify-self: start;
    }
    .game-list {
        grid-column: 2 / 4;
    }
    .browse fieldset {
        display: grid;
        position: relative;
    }
    .console-icon,
    .category-icon {
        display: none;
    }
    /* sign in */
    .sign-on {
        grid-template-rows: auto 500px 500px;
    }
    .sign-in {
        grid-column: 1 / 4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .sign-in form {
        max-width: 400px;
    }
    .create-account {
        display: flex;
    }
    .picture-slider {
        grid-column: 1 / 4;
        background: url(../images/[s_1283921101]-[gs_7]-[is_30]-cyberpunk\,\ spring\,\ plains\,\ sun.jpeg);
        width: 50%;
        height: 500px;
        background-size: cover;
        position: relative;
        bottom: 516px;
        left: 50%;
    }
    #hide:checked ~ .sign-in .existing-account {
        display: flex;
    }
    #hide:checked ~ .picture-slider {
        animation-name: slide;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    @keyframes slide {
        0% {
            left: 50%;
        }
        100% {
            left: 0;
        }
    }
    /* contact */
    .contact {
        width: max-content;
    }
    .contact-wrapper {
        grid-column: 1 / 4;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-image: url(../images/Nintendo-Switch-Console-Transparent-PNG.png);
    }
    .costumer-support {
        grid-column: 3;
    }
    .faq {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    /* checkout success */
    .share {
        grid-column: 1;
    }
    .success .recommended {
        grid-column: 2 / 4;
        
    }
}